header {
    padding: 2rem 0;
    text-align: center;

    div.Container {
        div.Header-Logo {
            a {
                text-decoration: none;
                color: transparent;

                img {
                    width: 30rem;
                    max-width: 80%;
                }
            }
        }

        nav {
            margin-top: 2rem;
            padding: 1rem;
            display: block;
            width: 100%;
            border-bottom: 1px solid $black-light;
            border-top: 1px solid $black-light;

            a {
                margin: 0 1rem;
                font-weight: bold;
                text-decoration: none;
                color: $white;

                &:hover {
                    color: $orange;
                }
            }
        }
    }
}
