@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-12 col-md-8">
        <h1>Get Started &#128640</h1>
        <p>Among Servers is an easy to use launcher to connect to Among Us servers not hosted by Innersloth (the creators).</p>

        <div class="__Mobile">
            <a href="#"
               class="Button __Primary __Block">
                <i class="fa fa-download"></i>&nbsp;
                Download
            </a>
        </div>

        <img src="~/images/launcher.png"
             style="width: 90%;" />

        <h2>Host a server</h2>

        <p>Images/videos</p>

        <h2>Connect to a server</h2>
        <p>Images/videos</p>
    </div>
    <div class="col-sm-12 col-md-4">
        <a href="#"
           class="Button __Primary __Block">
            <i class="fa fa-download"></i>&nbsp;
            Download
        </a>
        <a href="#"
           class="Button __Secondary __Block">
            View Release on Github
        </a>
        <hr />
        <h4>What is this?</h4>
        <p>Among Servers is a simple plugin that allows you host and join community Among Us servers, separate from the official servers.</p>
        <br />
        <h4>Why should I use this?</h4>
        <ul>
            <li>
                <b>Reliability</b>: more uptime than the official Among Us servers - that's not hard to do though. &#128521
            </li>
            <li>
                <b>Privacy</b>: these servers are completely private and separate from the official servers. You can choose how you play the game, and who you play it with.
            </li>
            <li>
                <b>Community</b>: join the ever-growing, centralised Among Us community to enjoy playing both vanilla and modded versions of the game.
            </li>
        </ul>
        <p>The offical hosting is shit.</p>
        <br />
        <h4>Credits</h4>
        <p>Special thanks to the work of <a href="https://github.com/Impostor/Impostor" rel="nofollow" target="_blank">Impostor</a> for creating the ability to host private servers.</p>
    </div>
</div>
